<h1> User </h1>
<ul>
  <% @users.each do |user| %>
    <li class="container">
        <div class="cadre"></div>
        <div class="user">
            <h2><%= link_to user.name, user_path(user) %></h2>
            <p>
                <span></span>
                <span>Number of posts : <span><% if (user.posts_counter) %>
                <%= user.posts_counter %>
                <% else %>
                <%= 0 %>
                <% end %></span></span>
            </p>
        </div>
    </li>
  <% end %>
</ul>